src/node_modules/
src/public/hot/
src/public/storage/
src/public/build
src/storage/*.key
src/vendor/
src/.phpunit.result.cache
src/.env
src/**.git
src/.idea
src/**.gitignore
src/**.gitattributes
src/**.sass-cache
.env
Dockerfile
docker-compose.yml
docker-compose.yaml
**.git
.idea
**.gitignore
**.gitattributes
**.sass-cache
src/storage/framework/cache/data/*
src/storage/framework/sessions/*
src/storage/framework/testing/*
src/storage/framework/views/*
src/storage/logs/*
src/bootstrap/cache/*